.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }

/* unvisited link */
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: white;
  }
  
  /* mouse over link */
  a:hover {
    color: darkblue;
  }
  
  .header {
    padding: 6px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
  }